
  <div class="panel panel-default">
      <div class="panel-body">
       <h1>Meus Grupos de Apostas</h1> 
      </div>
  </div>


<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" class="btn btn-primary" (click)="abreModal('new',{});">Novo Grupo de Apostas</button>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Nome Grupo</th>
                <th>Gestor Grupo</th>
                <th>Top Rank</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of grupos | async">
                <td>{{i.nome}}</td>
                <td>{{i.userGestor.nome}}</td>
                <td class="mx-auto">
                  <div class="row">
                      <div class="mx-auto">
                          <button type="button" class="btn btn-danger" (click)="deleteItem(i.key);">
                            Deletar
                            <i class="fa fa-minus-circle" aria-hidden="true"> </i>
                          </button>
                      </div>
                     <div class="mx-auto">
                        <button type="button" class="btn btn-secondary" routerLink="../grupoByAposta/{{i.key}}">
                            Membros
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </button>
                     </div>
                     <div class="mx-auto">
                        <button type="button" class="btn btn-success" routerLink="{{i.key}}/convite">
                          Convidar
                          <i class="fa fa-share" aria-hidden="true"></i>
                        </button>
                     </div> 
  
                  </div>

                    
                </td>
              </tr>
            </tbody>
        </table>
    </div>  
      
</div>



<!-- Modal de Regra de Aposta -->

 
<div class="modal fade bd-example-modal-lg" id="modalGrupo" tabindex="-1" role="dialog" aria-labelledby="modalRegraLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegraLabel">Grupo de Apostas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="form-group">
            <label for="nomeGrupo">Nome do Grupo</label>
            <input type="text" name="nomeGrupo" id="nomeGrupo" [(ngModel)]="grupo.nome" class="form-control" placeholder="Nome">
          </div>


          <div class="form-group">
              <label for="ligaSelector">Qual Liga ?</label>
              <select class="form-control" name="ligaSelector" [(ngModel)]="grupo.liga" id="ligaSelector">
                  <option *ngFor="let o of ligas | async" [value]="o.key">
                      {{o.tipoLiga}} Ano {{o.ano}}
                  </option>
              </select>

          </div>
          <div class="form-group">
              <label for="descritRegra">Descricao Detalhada da Regra de Aposta</label>
              <textarea type="text" name="descritRegra" id="descritRegra" [(ngModel)]="grupo.descrit" class="form-control" placeholder="" rows="2"></textarea>
          </div>
          <p>Você pode Colocar até 3 critérios</p>
          <div class="row">
              <div class="col-3">
                  <p>Criterio de Acerto ?</p>
              </div>
              <div class="form-group col-md-3">
                <select class="form-control" name="critACerto" id="critACerto" [(ngModel)]="grupo.crit1.tipo">
                  <option selected value="NDA">Nda</option>
                  <option value="PLACAR">Placar</option>
                  <option value="RESULTADO">Resultado</option>
                </select>
              </div> 
              <div class="col-md-3">
                  <p>Pontos ?</p>
              </div>
              <div class="form-group col-md-3">
                <input type="text" name="pontuacao" id="pontuacao" [(ngModel)]="grupo.crit1.ponto" class="form-control" placeholder="Pontuacao" aria-describedby="helpId">
              </div>
          </div>
          <div class="row">
              <div class="col-3">
                  <p>Criterio de Acerto ?</p>
              </div>
              <div class="form-group col-md-3">
                <select class="form-control" name="critACerto" id="critACerto" [(ngModel)]="grupo.crit2.tipo">
                  <option selected value="NDA">Nda</option>
                  <option value="PLACAR">Placar</option>
                  <option value="RESULTADO">Resultado</option>
                </select>
              </div> 
              <div class="col-md-3">
                  <p>Pontos ?</p>
              </div>
              <div class="form-group col-md-3">
                <input type="text" name="pontuacao" id="pontuacao" [(ngModel)]="grupo.crit2.ponto" class="form-control" placeholder="Pontuacao" aria-describedby="helpId">
              </div>
          </div>
          <div class="row">
              <div class="col-3">
                  <p>Criterio de Acerto ?</p>
              </div>
              <div class="form-group col-md-3">
                <select class="form-control" name="critACerto" id="critACerto" [(ngModel)]="grupo.crit3.tipo">
                  <option selected value="NDA">Nda</option>
                  <option value="PLACAR">Placar</option>
                  <option value="RESULTADO">Resultado</option>
                </select>
              </div> 
              <div class="col-md-3">
                  <p>Pontos ?</p>
              </div>
              <div class="form-group col-md-3">
                <input type="text" name="pontuacao" id="pontuacao" [(ngModel)]="grupo.crit3.ponto" class="form-control" placeholder="Pontuacao" aria-describedby="helpId">
              </div>
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="save()">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>