

<div *ngIf="!userLogado">
    <div class="container">
        <h2>
            Ola!  
        </h2>
        <h4>
            Você recebeu um convite para um grupo de apostas,
            ao aceitar você estará ciente com as regras abaixo.
        </h4>
    </div>    
    <app-login></app-login>
</div>

<div *ngIf="userLogado">
      <p>
          Grupo : {{grupo.nome}}
      
      </p>
      <p>
          Descrição :  {{grupo.descritivo}}
      </p>
      <p>
          Critério das Regras : 
      </p>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Tipo do Critério</th>
                  <th>Pontos</th>
                  <th>Bonifica Resultado </th>
                  <th>Ponto Bonus</th>
              </tr>
          </thead>
          <tbody>
                  <tr *ngIf="grupo.criterioPrincipal">
                      <td>{{grupo.criterioPrincipal.tipoCriterioEnum}}</td>
                      <td>{{grupo.criterioPrincipal.ponto}}</td>
                      <td> 
                        <p *ngIf="grupo.criterioPrincipal.bonifica">
                         Sim  
                        </p>
                        <p *ngIf="!grupo.criterioPrincipal.bonifica">
                         Não  
                        </p>
                      </td>
                      <td>
                            {{grupo.criterioPrincipal.pontoBonus}}
                      </td>
                  </tr>
                  <tr *ngIf="grupo.criterioSecundario">
                        <td>{{grupo.criterioSecundario.tipoCriterioEnum}}</td>
                        <td>{{grupo.criterioSecundario.ponto}}</td>
                        <td> 
                          <p *ngIf="grupo.criterioSecundario.bonifica">
                           Sim  
                          </p>
                          <p *ngIf="!grupo.criterioSecundario.bonifica">
                           Não  
                          </p>
                        </td>
                        <td>
                              {{grupo.criterioSecundario.pontoBonus}}
                        </td>
                    </tr>         
          </tbody>
      </table>
      
      
      <button type="button" class="btn btn-success" (click)="aceitarConvite()">
          Aceitar Convite <i class="fa fa-check" aria-hidden="true"></i>
      </button>
</div>