
  <div class="panel panel-default" >
      <div class="panel-body">
       <h1 class="display-4">
         Ligas
         <i class="fa fa-futbol-o" aria-hidden="true"></i>

        </h1>

      </div>
  </div>


<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <div class="col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Buscar" [(ngModel)]="nome" (keyup.enter)="loadLigaPage()">
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <button mat-raised-button color="accent" class="full-width" aria-label="Buscar" (click)="loadLigaPage()">
                  Buscar <mat-icon>search</mat-icon>
              </button>
          </div>
          <div class="col-md-3">
              <button mat-raised-button color="primary" class="full-width" (click)="openModal('Nova',{})" aria-label="Novo">
                  Novo <mat-icon>add</mat-icon>
              </button>
          </div>
      </div>
    </div>
    <div class="panel-body">
        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource">


              <!-- Position Column -->
              <ng-container  matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome. </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>
              
              <!-- Liga -->
              <ng-container matColumnDef="tipoLiga">
                
                <th mat-header-cell *matHeaderCellDef class="column-right" > Liga </th>
                <td mat-cell *matCellDef="let element" class="column-right" > {{element.tipoLiga}} </td>
              </ng-container>
          
              <!-- Qtd Rodadas -->
              <ng-container matColumnDef="qtdRodadas">
                  <th mat-header-cell *matHeaderCellDef class="column-right" > Qtd Rodadas </th>
                  <td mat-cell *matCellDef="let element" class="column-right" > {{element.qtdRodadas}} </td>
              </ng-container>

              <!-- Btn  -->
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="column-right" > Acao </th>
                  <td mat-cell *matCellDef="let element" class="column-right" > 
                    <button mat-icon-button  aria-label="Menu" (click)="openMenu(element)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
              </ng-container>
             
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <!-- <mat-paginator showFirstLastButtons></mat-paginator> -->
            <mat-paginator [length]="dataSource.totalElements" 
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          
    </div>  
      
</div>



<!-- Modal de Regra de Aposta -->

 
<div class="modal fade bd-example-modal-lg" id="modalLiga" tabindex="-1" role="dialog" aria-labelledby="modalRegraLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegraLabel">Liga</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <label for="ligaSelector">Qual Liga ?</label>
              <select class="form-control" name="ligaSelector" [(ngModel)]="liga.tipoLiga" id="ligaSelector">
                  <option value="CAMPEONATO_BRASILEIRO">Brasileirao</option>
                  <option value="COPA_BRASILEIRO">Copa do Brasil</option>
              </select>
          </div>
          <div class="form-group">
              <label for="ano">Ano</label>
              <input type="text" name="ano" id="ano" [(ngModel)]="liga.ano" class="form-control" placeholder="Ano">
          </div>
          <div class="form-group">
              <label for="qtdRodadas">Quantidade Rodadas</label>
              <input type="number" name="qtdRodadas" id="qtdRodadas" [(ngModel)]="liga.qtdRodadas" class="form-control" placeholder="Qtd Rodadas">
          </div>
          <div class="form-group">
              <label for="descritRegra">Descricao Liga</label>
              <textarea type="text" name="descritRegra" id="descritRegra" class="form-control"  [(ngModel)]="liga.descript"  placeholder="" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="save()">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>