<div class="container">
    <div class="row" *ngIf="email">
        <p>Usuario ja Logado !</p>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3" *ngIf="!email">
            <div class="card-body">
              <h5 class="card-title text-center">Entrar</h5>
              <form class="form-signin" [formGroup]="loginForm"  (submit)="cadastrar()" >
                  <mat-form-field class="modal-full-width">
                      <input type="email" matInput [(ngModel)]="emailForm" name="email"  placeholder="Email" formControlName="email" required>
                  </mat-form-field>
                  <app-vmessage
                    *ngIf="loginForm.get('email').errors?.required"
                    text="Nome de Usuario é Obrigatorio!">
                  </app-vmessage>      
                  <mat-form-field class="modal-full-width">
                    <input type="password" matInput [(ngModel)]="senhaForm" name="senha" placeholder="Senha"  formControlName="senha" required>
                  </mat-form-field>
                  <app-vmessage
                    *ngIf="loginForm.get('senha').errors?.required"
                    text="Nome de Usuario é Obrigatorio!">
                  </app-vmessage>  
              </form>
                  <p></p>  
                  <button  mat-raised-button (click)="loginNormal()" style="width: 100%"  color="primary">Login</button>
                  <p></p>
                  <button  mat-raised-button (click)="abreCadastro()" style="width: 100%"  color="warn">Registrar-se</button>
                  <p></p>
                  <button  mat-stroked-button  (click)="logarFacebook()" style="width: 100%" color="primary">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        Entrar com Facebook
                  </button>
            </div>
      </div>
    </div>
</div>