<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Cadastrar</h5>
              <form class="form-signin">
                <div class="form-label-group">
                    <label for="nome">Nome</label>
                    <input type="email" id="nome" class="form-control" placeholder="Nome" required autofocus>
                </div>
                <div class="form-label-group">
                  <label for="inputEmail">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Criar Conta</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                  Cadastrar com Facebook
                </button>
              </form>
            </div>
          </div>
    </div>
    <div class="col-md-6">
      <div>
          <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Entrar</h5>
                <form class="form-signin">
                  <div class="form-label-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  </div>
    
                  <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  </div>
    
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  <hr class="my-4">
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    Entrar com Facebook
                  </button>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>