
<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Resultados</h3>
    </div>
    <div class="panel-body">
     <div class="row">
       <div class="col-md-6">
          <div class="form-group">
              <label for="grupo"></label>
              <select class="form-control" name="" id="">
                <option>Galera do Fundao</option>
                <option>Nova Lima por fora</option>
              </select>
            </div>
       </div>
       <div class="col-md-6"></div>

     </div>
      <div class="row">
          <div class="col-md-3">
              <h4>Sua Posição é : # 1 </h4>
          </div>
          <div class="col-md-1">
            <h1>
                <i class="fa fa-angle-up fa-6" style="color:green" aria-hidden="true"></i>
                <i class="fa fa-angle-down fa-6" style="color:red" aria-hidden="true"></i>
            </h1>
          </div>
          <div class="col-md-3">
              <button type="button" class="btn btn-primary">
                  <i class="fa fa-signal" aria-hidden="true"></i>
                  Ver detalhamento do grupo
              </button>
          </div>
          <div class="col-md-5">
              <table class="table">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Participante</th>
                      <th>Grupo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">1# 

                          <i class="fa fa-angle-up" style="color:green" aria-hidden="true"></i>
                          <i class="fa fa-angle-down" style="color:red" aria-hidden="true"></i>

                      </td>
                      <td>Robson Emilio Langkammer</td>
                      <td>Fundao</td>
                      <td>
                         <i class="fa fa-signal" aria-hidden="true"></i>
              
                       </td>
           
                    </tr>
                  </tbody>
                </table>
      </div>
      </div> 
    </div>
</div>
