
  <div class="panel panel-default" >
      <div class="panel-body">
       <h1 class="display-4">
         Usuarios Vinculados
         <i class="fa fa-users" aria-hidden="true"></i>
        </h1>

      </div>
  </div>


<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <div class="col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Buscar" [(ngModel)]="nome" (keyup.enter)="loadLigaPage()">
              </mat-form-field>
          </div>
          <div class="col-md-6">
              <button mat-raised-button color="accent" class="full-width" aria-label="Buscar" (click)="loadUserPage()">
                  Buscar <mat-icon>search</mat-icon>
              </button>
          </div>

      </div>
    </div>
    <div class="panel-body">
        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource">


              <!-- Position Column -->
              <ng-container  matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome. </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>
              
              <!-- Liga -->
              <ng-container matColumnDef="email">
                
                <th mat-header-cell *matHeaderCellDef class="column-right" > Email </th>
                <td mat-cell *matCellDef="let element" class="column-right" > {{element.email}} </td>
              </ng-container>
          
              <!-- Qtd Rodadas -->
              <ng-container matColumnDef="provider">
                  <th mat-header-cell *matHeaderCellDef class="column-right" > Tipo Login </th>
                  <td mat-cell *matCellDef="let element" class="column-right" > {{element.provider}} </td>
              </ng-container>


              <!-- Qtd Rodadas -->
              <ng-container matColumnDef="permissaoAdmin">
                  <th mat-header-cell *matHeaderCellDef class="column-right" > Perfil </th>
                  <td mat-cell *matCellDef="let element" class="column-right" >
                     <i class="fa fa-lock" *ngIf="!element.permissaoAdmin" aria-hidden="true"></i>
                     <i class="fa fa-unlock-alt" *ngIf="element.permissaoAdmin" aria-hidden="true"></i>
                  </td>
              </ng-container>

              <!-- Btn  -->
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="column-right" > Acao </th>
                  <td mat-cell *matCellDef="let element" class="column-right" > 
                    <button mat-icon-button  aria-label="Menu" (click)="openMenu(element)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
              </ng-container>
             
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <!-- <mat-paginator showFirstLastButtons></mat-paginator> -->
            <mat-paginator [length]="dataSource.totalElements" 
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          
    </div>  
      
</div>


