<div class="container">
    <div class="card text-center">
        <div class="card-header">
            {{liga.tipoLiga}} {{liga.edicao}}
            {{liga.rodadaAtual}} º Rodada
         <div class="row">

            <div class="mx-auto">
                <ngb-pagination 
                [collectionSize]="liga.qtdRodadas" 
                [(page)]="liga.rodadaAtual" 
                [maxSize]="5"
                [pageSize]="1"
                [boundaryLinks]="true"
                (pageChange)="carregaRodada()">
              </ngb-pagination>
             

            </div>

         </div>

        </div>
        <div class="card-body">
         <div class="row" *ngFor="let r of liga.rodadas">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-header">
                        <p>{{r.rodada}} º</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                              <tr class="row">
                                <th class="col-3">Time 1</th>
                                <th class="col-3">Time 2</th>
                                <th class="col-6"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="row" *ngFor="let p of r.partidas">
                                <th class="col-3">
                                  <img [src]="p.time1.escudoPathString"  alt="image">  
                                  {{p.time1.nomeAbrev}}
                                </th>
                                <td class="col-3">
                                    <img [src]="p.time2.escudoPathString"  alt="image">  
                                    {{p.time2.nomeAbrev}}
                                </td>
                                <td class="col-6">
                                    <div class="justify-content-center row">
                                        <div class="col-md-5">
                                            <input type="number" class="form-control" >
                                        </div>
                                        <p  class="d-flex align-items-center">VS</p>
                                        <div  class="col-md-5">
                                            <input type="number" class="form-control" >
                                        </div>
                                    </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="card-footer text-muted">
                      Estadio
                    </div>
                  </div>
            </div>
         </div>
        </div>
        <div class="card-footer text-muted">
            <button type="button" class="btn btn-success btn-block">Salvar</button>
        </div>
      </div>
      

</div>