<block-ui>
    <span class="sr-only">Carregando...</span>
</block-ui>

<div class="panel panel-default" >
    <div class="panel-body">
     <h1 class="display-4">
       Membros
       <i class="fa fa-futbol-o" aria-hidden="true"></i>

      </h1>

    </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-1">
            <button color="primary"  mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>thumbs_up_down</mat-icon>
            </button>
        </div>
        <div class="col-md-2">
           Apostar
        </div>
        <div class="col-md-1">
            <button color="primary"  mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="loadPage()">
               <mat-icon>sort</mat-icon>
            </button>
        </div>
        <div class="col-md-2">
            Ordenar
        </div>
        <div class="col-md-1">
            <button color="primary"  mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>share</mat-icon>
            </button>
        </div>
        <div class="col-md-2">
            Convidar
        </div>
        <div class="col-md-1">
            <button color="warn"  mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>trending_flat</mat-icon>
            </button>
        </div>
        <div class="col-md-2">
            Sair do Grupo
        </div>
    </div>
    <p></p>
    <mat-divider> </mat-divider>
    <p></p>
    <div class="row">
        <div class="col-md-9">
            <mat-form-field class="full-width">
              <input matInput placeholder="Buscar" [(ngModel)]="nome" (keyup.enter)="loadPage()">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="accent" class="full-width" aria-label="Buscar" (click)="loadPage()">
                Buscar <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
  </div>
  <div class="panel-body">
      <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container  matColumnDef="posicao">
              <th mat-header-cell *matHeaderCellDef> Posicao. </th>
              <td mat-cell *matCellDef="let element"> a implementar </td>
            </ng-container>
            
            <!-- Position Column -->
            <ng-container  matColumnDef="pontos">
              <th mat-header-cell *matHeaderCellDef> Pontos. </th>
              <td mat-cell *matCellDef="let element"> a implementar </td>
            </ng-container>

            <!-- Edicao -->
            <ng-container matColumnDef="nomeUserVinc">
                <th mat-header-cell *matHeaderCellDef  > Nome </th>
                <td mat-cell *matCellDef="let element" > {{element.vinculo.nome}}  </td>
            </ng-container>
        
          
            <!-- Btn  -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="column-right" > Acao </th>
                <td mat-cell *matCellDef="let element" class="column-right" > 
                  <button mat-icon-button  aria-label="Menu" (click)="openMenu(element)">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        
          <!-- <mat-paginator showFirstLastButtons></mat-paginator> -->
          <mat-paginator [length]="dataSource.totalElements" 
          [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        
  </div>  
    
</div>