<mat-nav-list>
        <a mat-list-item (click)="openMenu($event,'Deletar')">
          <mat-icon>delete_outline</mat-icon>
          <span mat-line>Deletar</span>
        </a>
        <a mat-list-item (click)="openMenu($event,'Ver')">
          <mat-icon>tab</mat-icon>
          <span mat-line>Visualizar</span> 
        </a>
        <a  mat-list-item (click)="openMenu($event,'Editar')">
          <mat-icon>edit</mat-icon>
          <span mat-line>Editar</span>
        </a>
        <a  mat-list-item (click)="openMenu($event,'Membros')">
          <mat-icon>group</mat-icon>
          <span mat-line>Membros</span>
        </a>
        <a  mat-list-item (click)="openMenu($event,'Compartilhar')">
          <mat-icon>share</mat-icon>
          <span mat-line>Convidar</span>
        </a>
      
</mat-nav-list>