<mat-nav-list>
        <a mat-list-item (click)="openMenu($event,'Desempenho')">
          <mat-icon>assessment</mat-icon>
          <span mat-line>Desempenho</span>
        </a>
        <a mat-list-item (click)="openMenu($event,'Desempenho')">
          <mat-icon>delete_sweep</mat-icon>
          <span mat-line>Retirar do Grupo</span>
        </a>
        <!-- <a  mat-list-item (click)="openMenu($event,'Membros')">
          <mat-icon>group</mat-icon>
          <span mat-line>Membros</span>
        </a>
        <a  mat-list-item (click)="openMenu($event,'Compartilhar')">
          <mat-icon>share</mat-icon>
          <span mat-line>Convidar</span>
        </a>
       -->
</mat-nav-list>